@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 20 20 20;
    --primary: 255 105 180; /* pink accent */
    --primary-foreground: 255 255 255;
  }

  body {
    background: linear-gradient(to bottom right, #fdf2f8, #e0f2fe);
    font-family: 'Poppins', sans-serif;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@font-face {
  font-family: 'MyFont';
  src: url('/myfonts/Recoleta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'P-Font';
  src: url('/myfonts/Blank.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

